<!DOCTYPE html>
<html ng-app="app" ng-controller="anchorController">
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        div {
            width: 400px;
            border: 1px solid black;
            font-family: Arial;
            font-size: large;
            padding: 5px;
        }
    </style>
    <script src="Scripts/angular.js"></script>

    <script src="Scripts/anchorscroll.js"></script>
</head>
<body>
    <button id="top" ng-click="scrollTo('bottom')">Go to bottom of the page</button>
    <br />
    <div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec massa a dui commodo semper. Duis imperdiet cursus lorem, ut egestas sem tincidunt eget. Ut mollis nec sem et vehicula. Morbi luctus congue lorem vel blandit. Integer auctor, diam nec hendrerit elementum, urna nunc cursus purus, et ullamcorper eros massa et felis. Pellentesque blandit elit eget arcu hendrerit, in interdum lacus aliquet. Nunc dignissim nibh at felis viverra malesuada. Sed efficitur lobortis nisl, sed ultrices justo consequat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae eros rhoncus, efficitur justo a, maximus dolor. Aenean consequat tortor enim, vel rhoncus risus ultrices nec. Suspendisse fermentum augue non metus malesuada, nec blandit nunc lobortis. Vivamus nec faucibus massa, id pharetra nulla. Donec dignissim felis et eleifend accumsan. Curabitur congue tempus iaculis.
        In suscipit nisi vitae tellus sollicitudin condimentum. Fusce ultricies non neque at tempor. Suspendisse pulvinar semper condimentum. Integer et interdum sapien, non dignissim libero. Morbi sit amet auctor eros, eget mollis dolor. Vivamus id ante elit. Donec ut bibendum lacus. Aenean rhoncus aliquet ultrices. Vivamus dapibus tellus a metus ultrices tempor. Sed tellus mauris, suscipit id mauris sed, congue rutrum neque. Integer eu interdum turpis, a imperdiet nibh. Quisque hendrerit feugiat lectus, non eleifend neque. Pellentesque non nulla in nisi auctor aliquam. Phasellus pretium gravida orci in semper. Pellentesque feugiat aliquam accumsan. Cras est mi, bibendum sed dolor sed, consequat lacinia dui.
        Donec ut interdum purus, in luctus tortor. In euismod interdum consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dolor leo, malesuada at nisi vitae, interdum euismod mauris. Fusce luctus, magna eget accumsan tempus, ipsum tellus facilisis elit, ut placerat sapien lectus a sapien. Suspendisse potenti. Integer dignissim ornare condimentum. Sed volutpat venenatis consequat. Vestibulum ultricies efficitur aliquam. Mauris congue quam sapien, et aliquet lacus suscipit eu. Integer pellentesque pellentesque lorem eu cursus. In vel erat ut enim auctor consequat. Curabitur a odio aliquet libero tempor scelerisque. Proin lacus est, volutpat ut nibh auctor, vestibulum lacinia neque.

    </div>
    <br />
    <button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
</body>
</html>
