<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
    <title>Index</title>
    <meta charset="utf-8" />
    <!--<script src="Scripts/angular.min.js"></script>-->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th ng-click="sortData('name')">Name<div ng-class="getSortClass('name')"></div></th>
                <th ng-click="sortData('dateOfBirth')">Date of Birth<div ng-class="getSortClass('dateOfBirth')"></div></th>
                <th ng-click="sortData('gender')">Gender<div ng-class="getSortClass('gender')"></div></th>
                <th ng-click="sortData('salary')">Salary (number)<div ng-class="getSortClass('salary')"></div></th>
                <th ng-click="sortData('salary')">Salary (currency)<div ng-class="getSortClass('salary')"></div></th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="em in employees | orderBy:sortColumn:reverseSort">
                <td>{{em.name | uppercase}}</td>
                <td>{{em.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                <td>{{em.gender | lowercase}}</td>
                <td>{{em.salary | number:3}}</td>
                <td>{{em.salary | currency:"":4}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
