<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
    <title>Index</title>
    <meta charset="utf-8" />
    <!--<script src="Scripts/angular.min.js"></script>-->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
</head>
<body>

    <ul>
        <li ng-repeat="ct in countries" ng-init="parentIndex=$index">
            {{ct.name}} - Index = {{$index}}
            <ul>
                <li ng-repeat="city in ct.cities">
                    {{city.name}} - Parent Index = {{parentIndex}}, Index = {{$index}}
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
